* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, rgb(214, 74, 74), rgb(161, 45, 45));
}

h1 {
  font-size: 3vw;
  font-weight: 600;
  color: rgb(121, 30, 30);
  opacity: 0.8;
  text-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  margin-bottom: -20px;
  margin-top: 20px;
}

h2 {
  font-size: 1.5vw;
  color: rgb(121, 30, 30);
  font-weight: 600;
  opacity: 0.8;
  text-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.container {
  min-height: 40vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1vw;
  margin: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.6rem);
  border-radius: 2rem;
  z-index: 2;
  transition: all 0.3s ease 0s;
}

.title {
  min-height: 80%;
  width: 90%;
  flex-wrap: wrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.25)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.circle2 {
  top: 1vh;
  right: 1vh;
  height: 12vw;
  width: 12vw;
}
.circle1 {
  bottom: 1vh;
  left: 1vh;
  height: 10vw;
  width: 10vw;
}

.menu {
  min-width: 15vw;
  max-width: 20vw;
  height: 50%;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.menu div {
  margin: 12px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 10px;
  font-size: 1.2vw;
  padding: 1vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right top, rgb(214, 74, 74), rgb(179, 65, 65));
  box-shadow: 0px 15px 20px rgba(161, 45, 45, 0.4);
  color: #fff;
  transform: translateY(-4px);
}

#square {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 45%;
  border: 2px solid black;
  margin: 100px;
  transition: all 0.1s ease 0s;
}
#square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#sketchArea {
  background: white;
  flex: 1 0 0%;
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  min-height: 400px;
  min-width: 400px;
  border: rgb(81, 81, 81) 2px solid;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.grid-item {
  height: auto;
  width: auto;
  padding: auto;
  border: 1px solid rgba(221, 221, 221, 0.411);
}

.grid-item:hover {
  border: 2px solid rgba(119, 119, 119, 0.411);
}

.gridBorder {
  border: none;
}

.gridBorder:hover {
  border: none;
}
